<div id="<%= dom_id character %>">
  <div class="avatar-container">
    <div class="avatar background"></div>
    <div class="avatar avatar-head">
      <div class="avatar avatar-hat avatar-hat-feather"></div>
      <div class="avatar avatar-eyes"></div>
    </div>
    <div class="avatar avatar-arms">
      <div class="avatar avatar-gamepad"></div>
    </div>
    <div class="avatar avatar-body"></div>
    <div class="avatar avatar-feets"></div>
  </div>
</div>
